@model RudeAnchorSN.LogicLayer.Models.UserModel

@{
    Layout = "_Layout";
    ViewData["Title"] = $"{Model.FirstName} {Model.LastName}";
}

@{
    var requestsCount = Model.Requests.Count > 0 ? $"({Model.Requests.Count})" : string.Empty;
    var isOwnPage = User?.Identity?.Name == Model.Email;
    var isInFriends = Model.Friends.Any(x => x.Email == User?.Identity?.Name);
    var newMessagesCount = Model.Chats.Where(x => x.HasNew && x.Messages.LastOrDefault()?.Author?.Email != User?.Identity?.Name).Count();
    var chat = Model.Chats.FirstOrDefault(x => x.Users.Any(y => y.Email == User?.Identity?.Name));
    var chatId = chat is null ? -1 : chat.Id;
}

@section css{
    <link rel="stylesheet" href="/css/user.css" />
}

<div class="heading round-corner-box">
    <h1>
        @Model.FirstName @Model.LastName
    </h1>
</div>

@if (!isOwnPage)
{
    <div class="breadcrumbs">
        <a asp-action="Index" asp-controller="Friends" class="right white">
            <span class="arrow-left-icon white"></span>
            <span class="white">Назад</span>
        </a>
    </div>
}

<div class="wrapper">
    <div class="menu round-corner-box">
        <div id="profile-picture-placeholder" style="background-image: url(@Model.ProfilePicUrl)">
            @if (string.IsNullOrEmpty(Model.ProfilePicUrl))
            {
                <div class="profile-pic-fallback"></div>
            }
        </div>

        @if (isOwnPage)
        {
            <div class="menu-item">
                <a asp-action="Edit">
                    Редактировать профиль
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="Messages">
                    Сообщения @(newMessagesCount > 0 ? $"({newMessagesCount})" : string.Empty)
                </a>
            </div>
            <div class="menu-item">
                <a asp-action="Index" asp-controller="Friends">
                    Друзья @requestsCount
                </a>
            </div>
        }
        else
        {
            @if (Model.Requests.FirstOrDefault(x => x.Id == Model.Id) != null)
            {
                <div class="menu-item">
                    <a asp-action="Accept" asp-controller="Friends" asp-route-id="@Model.Id">
                        Принять
                    </a>
                </div>

                <div class="menu-item">
                    <a asp-action="Reject" asp-controller="Friends" asp-route-id="@Model.Id">
                        Отклонить
                    </a>
                </div>
            }
            else
            {
                if (!isInFriends)
                {
                    <div class="menu-item">
                        <a asp-action="Add" asp-controller="Friends" asp-route-id="@Model.Id">
                            Добавить в друзья
                        </a>
                    </div>
                }
                else
                {
                    <div class="menu-item">
                        <a asp-action="Index" asp-controller="Chat" asp-route-id="@chatId" asp-route-userId="@Model.Id">
                            Написать сообщение
                        </a>
                    </div>
                }
            }
        }
    </div>

    <div class="content-container round-corner-box">
        <div class="profile-data">
            <div class="date-of-birth">
                День рождения: @Model.BirthDate.ToShortDateString() (@Model.Age лет)
            </div>

            <div class="last-online">
                Последний раз онлайн: @Model.LastOnline
            </div>
        </div>

        <div class="wall">
            @if (isOwnPage)
            {
                <div class="post-button">
                    <a asp-action="Add" asp-controller="Post" class="button">
                        <span>Добавить пост</span>
                        <span class="plus-icon"></span>
                    </a>
                </div>
            }

            <div class="posts">
                @foreach (var post in Model.Posts)
                {
                    <partial name="_Post.cshtml" model="new RudeAnchorSN.LogicLayer.Models.UserPostViewModel(Model, post)" />
                }
            </div>
        </div>
    </div>
</div>